__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg
.coverage
.pytest_cache/
*.log
.env
.venv
env/
venv/
ENV/
ml_threat_dashboard/
.ipynb_checkpoints
resultados_*.json
**/node_modules/
.eslintcache
npm-debug.log*
yarn-debug.log*
*.pkl
*.h5
*.joblib
!**/real_traffic_model.pkl
!**/label_encoder_y.pkl
!**/label_encoders.pkl
!**/scaler.pkl
.vscode/
.idea/
.DS_Store
data/
*.csv